.img-place {
    border: 1px dashed black;
    margin-top: 10px;
    width: 880px;
    height: 602px;
    text-align: center;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 1px dashed #000;
}

#choosenImage {
    width: auto;
    max-height: auto;
}

.img-cropper {
    position: absolute;
    border: 1px dashed #000;
    width: 200px;
    height: 100px;
    top: 249px;
    left: 309px
}

.resizable {
    position: absolute;
    top: 100px;
    left: 100px;
}

.resizable .resizers {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.resizable .resizers .resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
}

.resizable .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}

.resizable .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.resizable-image {
    position: absolute;
}

.resizable-image .image-resizers {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.resizable-image .image-resizers .image-resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    z-index: 3000;
}

.resizable-image .image-resizers .image-resizer.image-bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.img-cropper.moving {
    cursor: move;
}

.img-place-head {
    position: absolute;
    top: 50%;
    transform: translateY(-72px);
    color: gray;
    font-size: 120px;
    text-align: center;
    width: 100%;
}

.parameters {
    margin-top: 80px;
    text-align: center;
}

.parameters label {
    width: 30%;
    font-size: 25px;
}

.parameters input {
    width: 60%;
    margin-bottom: 5px;
}

.crop-btn {
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.resize-btn {
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.select-file {
    width: 80%;
    margin-left: 30px;
}